* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 0 50px;
}
h1 {
  margin: 20px 0;
}
.products-suggestions {
  background-color: aliceblue;
  max-height: 200px;
  overflow-y: auto;
  margin: 20px 0 0 0;
  border: 1px solid black;
  p {
    border-bottom: 1px solid black;
    padding: 10px;
    cursor: pointer;
  }
}

.products-suggestions p:hover {
  background-color: rgb(192, 226, 255);
}
input {
  padding: 3px;
}
